nameOverride: openwebui
ingress:
  enabled: true
  annotations:
    alb.ingress.kubernetes.io/target-type: ip
  {{#if DOMAIN}}
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS":443}]'
  host: openwebui.{{{DOMAIN}}}
  {{else}}
  host:
  {{/if}}

# openaiBaseApiUrl: https://litellm.{{{DOMAIN}}}/v1
openaiBaseApiUrl: http://litellm.litellm:4000/v1
openaiApiKey: sk-1234

ollama:
  enabled: false
pipelines:
  enabled: false

persistence:
  enabled: true
  size: 100Gi

resources:
  requests:
    cpu: 1 
    memory: 2Gi
  limits:
    memory: 2Gi
